{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/github-gist.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/i18n/datepicker.en.js' %}"></script>
    <script src="{% static 'js/logger.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/test.js' %}"></script>
    <title>Реклама</title>
</head>
<body>
<header class="header">

    <nav class="navbar navbar-expand-lg navbar-dark">
{#        <a class="navbar-brand" href="{% url 'post_list' %}">Logo</a>#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"#}
{#                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post_list' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'main' %}">Добавить объявление</a>
                </li>
                {% if user.is_staff %}
                    <li>
                        <a href="{% url 'export_users_csv' %}" class="nav-link active">Выгрузка</a>
                    </li>
                {% endif %}
            {% if user.is_staff %}

                {% endif %}
            </ul>
            <ul class="navbar-nav float-right">
                <li>
                    <p class="nav-link active">{{ user.username }}</p>

                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-primary" href="{% url 'logout' %}">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>
</html>