{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <script language="JavaScript">
        function toggle(source) {
            checkboxes = document.getElementsByName('foo');
            for (var checkbox in checkboxes)
                checkbox.checked = source.checked;
        }
    </script>
{{ User }}
    {% if user.is_staff %}
        <form action="{% url 'filter' %}" method="get">
{#        {% csrf_token %}#}
{#            <input name="q" type="text" placeholder="Поиск...">#}
            <input name="text" type="text" placeholder="Поиск по тексту" class="form-control form2">
            <input name="author" type="text" placeholder="Поиск по автору" class="form-control form2">
            <input name="posts" placeholder="Поиск по дате" class="form-control datepicker-here form2" data-multiple-dates="100" aria-label="Todo" data-multiple-dates-separator=", " data-position="bottom left" maxlength="255" id="id_date">
            <button type="submit" class="btn btn-primary">Фильтр</button>
        </form>

    {% endif %}
    <table class="table table-hover ">
        <thead>
        <tr>
            <th width="10px"><input type="checkbox" id="chkDelete" onClick="toggle(this)"/></th>
            <th width="50px">№</th>
            <th width="190px">Дата создания</th>
            {% if user.is_staff %}
                <th>Автор</th>
            {% endif %}
            <th width="120px">Телеканал</th>
            <th width="400px">Текст</th>
            <th width="200px">Дата проката</th>
            <th width="50px" style="font-size: 13px;">Кол. дней</th>
            <th width="50px" style="font-size: 13px;">Кол. симв</th>
            <th width="100px">Сумма</th>
            {% if user.is_staff %}
                <th>Статус</th>
            {% endif %}

        </tr>
        </thead>
        <tbody>

        {% for text in object_list reversed %}
            {% if text.reception == False %}
                {% if text.complete %}
                    <tr class="todo-completed">
                        <td><input type="checkbox" name="foo" id=""
                                   onclick="location.href = '{% url 'complete' text.id %}'" checked></td>
                        <td>{{ text.id }}</td><!-- № текста-->
                        <td>{{ text.order_date }}</td> <!--Дата создания-->
                        {% if user.is_staff %}
                            <td>
                                {{ text.author }}
                            </td>
                        {% endif %}

                        <td>{{ text.choice }}</td> <!-- Телеканал -->
                        <td style="text-align:left;">{{ text.text }}</td> <!-- Текст -->
                        <td>{{ text.post_dates }}</td><!--Дата проката-->
                        <td>{{ text.quantity_days }}</td> <!--Количество дней-->
                        <td>{{ text.quantity_symbols }}</td> <!--Количество символов-->
                        <td>{{ text.total_price }} сом</td> <!--Сумма -->
                        {% if user.is_staff %}
                            <td>
                                {% if text.reception == False %}
                                    <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"
                                       type="button"
                                       class="btn btn-dark">
                                        Не подтвержден
                                    </a>
                                {% else %}
                                    <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"
                                       type="button"
                                       class="btn btn-success">
                                        Подтвержден
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr class="todo-completed">
                        <td><input type="checkbox" name="foo" id=""
                                   onclick="location.href = '{% url 'complete' text.id %}'"></td>
                        <td>{{ text.id }}</td><!-- № текста-->
                        <td>{{ text.order_date }}</td> <!--Дата создания-->
                        {% if user.is_staff %}
                            <td>
                                {{ text.author }}
                            </td>
                        {% endif %}
                        <td>{{ text.choice }}</td> <!-- Телеканал -->
                        <td style="text-align:left;">{{ text.text }}</td> <!-- Текст -->
                        <td>{{ text.post_dates }}</td><!--Дата проката-->
                        <td>{{ text.quantity_days }}</td> <!--Количество дней-->
                        <td>{{ text.quantity_symbols }}</td> <!--Количество символов-->
                        <td>{{ text.total_price }} сом</td> <!--Сумма -->
                        {% if user.is_staff %}
                            <td>
                                {% if text.reception == False %}
                                    <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"
                                       type="button"
                                       class="btn btn-dark">
                                        Не подтвержден
                                    </a>
                                {% else %}
                                    <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"
                                       type="button"
                                       class="btn btn-success">
                                        Подтвержден
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>

                {% endif %}
            {% elif user.is_staff %}
                {% if text.complete %}
                    <tr class="todo-completed">
                        <td><input type="checkbox" name="foo" id=""
                                   onclick="location.href = '{% url 'complete' text.id %}'" checked></td>
                        <td>{{ text.id }}</td><!-- № текста-->
                        <td>{{ text.order_date }}</td> <!--Дата создания-->
                        {% if user.is_staff %}
                            <td>
                                {{ text.author }}
                            </td>
                        {% endif %}

                        <td>{{ text.choice }}</td> <!-- Телеканал -->
                        <td style="text-align:left;">{{ text.text }}</td> <!-- Текст -->
                        <td>{{ text.post_dates }}</td><!--Дата проката-->
                        <td>{{ text.quantity_days }}</td> <!--Количество дней-->
                        <td>{{ text.quantity_symbols }}</td> <!--Количество символов-->
                        <td>{{ text.total_price }} сом</td> <!--Сумма -->
                        {% if user.is_staff %}
                            <td>
                                {% if text.reception == False %}
                                    <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"
                                       type="button"
                                       class="btn btn-dark">
                                        Не подтвержден
                                    </a>
                                {% else %}
                                    <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"
                                       type="button"
                                       class="btn btn-success">
                                        Подтвержден
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr class="todo-completed">
                        <td><input type="checkbox" name="foo" id=""
                                   onclick="location.href = '{% url 'complete' text.id %}'"></td>
                        <td>{{ text.id }}</td><!-- № текста-->
                        <td>{{ text.order_date }}</td> <!--Дата создания-->
                        {% if user.is_staff %}
                            <td>
                                {{ text.author }}
                            </td>
                        {% endif %}
                        <td>{{ text.choice }}</td> <!-- Телеканал -->
                        <td style="text-align:left;">{{ text.text }}</td> <!-- Текст -->
                        <td>{{ text.post_dates }}</td><!--Дата проката-->
                        <td>{{ text.quantity_days }}</td> <!--Количество дней-->
                        <td>{{ text.quantity_symbols }}</td> <!--Количество символов-->
                        <td>{{ text.total_price }} сом</td> <!--Сумма -->
                        {% if user.is_staff %}
                            <td>
                                {% if text.reception == False %}
                                    <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"
                                       type="button"
                                       class="btn btn-dark">
                                        Не подтвержден
                                    </a>
                                {% else %}
                                    <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"
                                       type="button"
                                       class="btn btn-success">
                                        Подтвержден
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>

                {% endif %}
            {% endif %}

        {% endfor %}
        </tbody>
    </table>
    <footer>
        <div class="col-lg-12">
        	<nav class="left-nav">
            {% if is_paginated %}
                <ul class="pagination justify-content-center pagination-sm ">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="link-btn btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Пред.</a></li>

                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                             <li class="page-item"><span class="link-button btn btn-dark"><b>{{ i }} </b></span></li>
                        {% else %}
                            <li class="page-item"><a class="link-button btn btn-primary" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="link-btn btn btn-primary" href="?page={{ page_obj.next_page_number }}">След.</a></li>

                    {% endif %}
                </ul>
            {% endif %}
            </nav>

            <div class="btn-toolbar rigt-nav">
                <div class="btn-group">
                    <a href="{% url 'deletecomplete' %}">
                        <button type="button" class="btn btn-dark">
                            Удалить выделенные
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function toggle() {
            var div = document.getElementById('pnlDeleteAll');
            if (this.checked)
                div.style.display = 'block';
            else
                div.style.display = 'none'
        }

        document.getElementById('chkDelete').onchange = toggle;
    </script>

    <script>
        function toggle(source) {
            checkboxes = document.getElementsByName('foo');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
{% endblock %}
