{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{##}
{#    <script language="JavaScript">#}
{#        function toggle(source) {#}
{#            checkboxes = document.getElementsByName('foo');#}
{#            for (var checkbox in checkboxes)#}
{#                checkbox.checked = source.checked;#}
{#        }#}
{#    </script>#}
{##}
{#    {% if user.is_staff %}#}
{#        <form action="{% url 'filter' %}" method="get">#}
{#            <input name="q" type="text" placeholder="Поиск...">#}
{#            <button type="submit" class="btn btn-primary">Фильтр</button>#}
{#        </form>#}
{#    {% endif %}#}
{#    <table class="table table-hover ">#}
{#    <thead>#}
{#    <tr>#}
{#        <th width="10px"><input type="checkbox" id="chkDelete" onClick="toggle(this)"/></th>#}
{#        <th width="50px">№</th>#}
{#        <th width="190px">Дата создания</th>#}
{#        {% if user.is_staff %}#}
{#            <th>Автор</th>#}
{#        {% endif %}#}
{#        <th width="120px">Телеканал</th>#}
{#        <th width="400px">Текст</th>#}
{#        <th width="200px">Дата проката</th>#}
{#        <th width="50px" style="font-size: 13px;">Кол. дней</th>#}
{#        <th width="50px" style="font-size: 13px;">Кол. симв</th>#}
{#        <th width="100px">Сумма</th>#}
{#        {% if user.is_staff %}#}
{#            <th>Статус</th>#}
{#        {% endif %}#}
{##}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{##}
{##}
{#    {% for text in object_list reversed %}#}
{#        {% if text.reception == False %}#}
{#            {% if text.complete %}#}
{#                <tr class="todo-completed">#}
{#                    <td><input type="checkbox" name="foo" id=""#}
{#                               onclick="location.href = '{% url 'complete' text.id %}'" checked></td>#}
{#                    <td>{{ text.id }}</td><!-- № текста-->#}
{#                    <td>{{ text.order_date }}</td> <!--Дата создания-->#}
{#                    {% if user.is_staff %}#}
{#                        <td>#}
{#                            {{ text.author }}#}
{#                        </td>#}
{#                    {% endif %}#}
{##}
{#                    <td>{{ text.choice }}</td> <!-- Телеканал -->#}
{#                    <td style="text-align:left;">{{ text.text }}</td> <!-- Текст -->#}
{#                    <td>{{ text.post_dates }}</td><!--Дата проката-->#}
{#                    <td>{{ text.quantity_days }}</td> <!--Количество дней-->#}
{#                    <td>{{ text.quantity_symbols }}</td> <!--Количество символов-->#}
{#                    <td>{{ text.total_price }} сом</td> <!--Сумма -->#}
{#                    {% if user.is_staff %}#}
{#                        <td>#}
{#                            {% if text.reception == False %}#}
{#                                <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"#}
{#                                   type="button"#}
{#                                   class="btn btn-dark">#}
{#                                    Не подтвержден#}
{#                                </a>#}
{#                            {% else %}#}
{#                                <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"#}
{#                                   type="button"#}
{#                                   class="btn btn-success">#}
{#                                    Подтвержден#}
{#                                </a>#}
{#                            {% endif %}#}
{#                        </td>#}
{#                    {% endif %}#}
{#                </tr>#}
{#            {% else %}#}
{#                <tr class="todo-completed">#}
{#                    <td><input type="checkbox" name="foo" id=""#}
{#                               onclick="location.href = '{% url 'complete' text.id %}'"></td>#}
{#                    <td>{{ text.id }}</td><!-- № текста-->#}
{#                    <td>{{ text.order_date }}</td> <!--Дата создания-->#}
{#                    {% if user.is_staff %}#}
{#                        <td>#}
{#                            {{ text.author }}#}
{#                        </td>#}
{#                    {% endif %}#}
{#                    <td>{{ text.choice }}</td> <!-- Телеканал -->#}
{#                    <td style="text-align:left;">{{ text.text }}</td> <!-- Текст -->#}
{#                    <td>{{ text.post_dates }}</td><!--Дата проката-->#}
{#                    <td>{{ text.quantity_days }}</td> <!--Количество дней-->#}
{#                    <td>{{ text.quantity_symbols }}</td> <!--Количество символов-->#}
{#                    <td>{{ text.total_price }} сом</td> <!--Сумма -->#}
{#                    {% if user.is_staff %}#}
{#                        <td>#}
{#                            {% if text.reception == False %}#}
{#                                <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"#}
{#                                   type="button"#}
{#                                   class="btn btn-dark">#}
{#                                    Не подтвержден#}
{#                                </a>#}
{#                            {% else %}#}
{#                                <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"#}
{#                                   type="button"#}
{#                                   class="btn btn-success">#}
{#                                    Подтвержден#}
{#                                </a>#}
{#                            {% endif %}#}
{#                        </td>#}
{#                    {% endif %}#}
{#                </tr>#}
{##}
{#            {% endif %}#}
{#        {% elif user.is_staff %}#}
{#            {% if text.complete %}#}
{#                <tr class="todo-completed">#}
{#                    <td><input type="checkbox" name="foo" id=""#}
{#                               onclick="location.href = '{% url 'complete' text.id %}'" checked></td>#}
{#                    <td>{{ text.id }}</td><!-- № текста-->#}
{#                    <td>{{ text.order_date }}</td> <!--Дата создания-->#}
{#                    {% if user.is_staff %}#}
{#                        <td>#}
{#                            {{ text.author }}#}
{#                        </td>#}
{#                    {% endif %}#}
{##}
{#                    <td>{{ text.choice }}</td> <!-- Телеканал -->#}
{#                    <td style="text-align:left;">{{ text.text }}</td> <!-- Текст -->#}
{#                    <td>{{ text.post_dates }}</td><!--Дата проката-->#}
{#                    <td>{{ text.quantity_days }}</td> <!--Количество дней-->#}
{#                    <td>{{ text.quantity_symbols }}</td> <!--Количество символов-->#}
{#                    <td>{{ text.total_price }} сом</td> <!--Сумма -->#}
{#                    {% if user.is_staff %}#}
{#                        <td>#}
{#                            {% if text.reception == False %}#}
{#                                <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"#}
{#                                   type="button"#}
{#                                   class="btn btn-dark">#}
{#                                    Не подтвержден#}
{#                                </a>#}
{#                            {% else %}#}
{#                                <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"#}
{#                                   type="button"#}
{#                                   class="btn btn-success">#}
{#                                    Подтвержден#}
{#                                </a>#}
{#                            {% endif %}#}
{#                        </td>#}
{#                    {% endif %}#}
{#                </tr>#}
{#            {% else %}#}
{#                <tr class="todo-completed">#}
{#                    <td><input type="checkbox" name="foo" id=""#}
{#                               onclick="location.href = '{% url 'complete' text.id %}'"></td>#}
{#                    <td>{{ text.id }}</td><!-- № текста-->#}
{#                    <td>{{ text.order_date }}</td> <!--Дата создания-->#}
{#                    {% if user.is_staff %}#}
{#                        <td>#}
{#                            {{ text.author }}#}
{#                        </td>#}
{#                    {% endif %}#}
{#                    <td>{{ text.choice }}</td> <!-- Телеканал -->#}
{#                    <td style="text-align:left;">{{ text.text }}</td> <!-- Текст -->#}
{#                    <td>{{ text.post_dates }}</td><!--Дата проката-->#}
{#                    <td>{{ text.quantity_days }}</td> <!--Количество дней-->#}
{#                    <td>{{ text.quantity_symbols }}</td> <!--Количество символов-->#}
{#                    <td>{{ text.total_price }} сом</td> <!--Сумма -->#}
{#                    {% if user.is_staff %}#}
{#                        <td>#}
{#                            {% if text.reception == False %}#}
{#                                <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"#}
{#                                   type="button"#}
{#                                   class="btn btn-dark">#}
{#                                    Не подтвержден#}
{#                                </a>#}
{#                            {% else %}#}
{#                                <a style="padding: 0px .75rem;" href="{% url 'change_status' text.id %}"#}
{#                                   type="button"#}
{#                                   class="btn btn-success">#}
{#                                    Подтвержден#}
{#                                </a>#}
{#                            {% endif %}#}
{#                        </td>#}
{#                    {% endif %}#}
{#                </tr>#}
{##}
{#            {% endif %}#}
{#        {% endif %}#}
{##}
{#    {% endfor %}#}
{#    {% if is_paginated %}#}
{#        <ul class="pagination">#}
{#            {% if page_obj.has_previous %}#}
{#                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>#}
{#            {% else %}#}
{#                <li class="disabled"><span>&laquo;</span></li>#}
{#            {% endif %}#}
{#            {% for i in paginator.page_range %}#}
{#                {% if page_obj.number == i %}#}
{#                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#                {% else %}#}
{#                    <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            {% if page_obj.has_next %}#}
{#                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>#}
{#            {% else %}#}
{#                <li class="disabled"><span>&raquo;</span></li>#}
{#            {% endif %}#}
{#        </ul>#}
{#    {% endif %}#}
{#{% endblock %}#}
